.addrow {
    width: 950px;
    height: 200px;
    position: absolute;
    top: 300px;
    right: 490px;
    border: 1px solid rgb(245, 244, 244);
    background-color: rgb(255, 71, 71);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.addrow_wrapp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.btn_wrapp {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-dark {
    margin-right: 10px;
}

.id {
    width: 80px;
}